.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
    max-width: 938px;
    width: 100%;
}

.wrapper {
    display: flex;
    gap: 20px;
}