.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
    max-width: 938px;
    width: 100%;
}

.wrapper {
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {
    .container {
        flex-wrap: wrap;
        gap: 20px;
    }
    .wrapper {
        order: -1;
        width: 100%;
        gap: 5px;
        justify-content: space-between;
    }
}