.container {
  box-sizing: border-box;
  display: grid;
  max-width: 938px;
  width: 100%;
  gap: 30px 24px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.card {
  box-sizing: border-box;
  color: azure;
  width: 297px;
  height: 197px;
  background-color: rgb(5, 70, 70);
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
  }
}