.button {
    width: auto;
    height: auto;
    padding: 5px 18px;
    border: 1px solid #fff;
    color: #fff;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    &:after {
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border: solid 2px;
        border-color: #fff transparent transparent transparent;
        border-radius: 100%;
        transition: .3s ease;
        animation: spin 1s infinite;
        transform-origin: 0 0;
    }
    &.load {
        color: transparent;

        &:after {
            display: block;
        }
        &:hover {
            cursor: wait;
        }
    }
    &.active {
        border: 1px solid #262830;
        background-color: rgba(38, 40, 48, 0.50);
    }
    &.disabled {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    from { transform: rotate(0) translate(-50%, -50%) }
    to { transform: rotate(360deg) translate(-50%, -50%) }
}