.search {
  margin: 30px 0;
  display: flex;
  width: 100%;
  max-width: 938px;
  justify-content: space-between;
  color: #868ca0;
  background-color: rgba($color: #262830, $alpha: 0.5);
  transition: all ease-in 100ms;
  border-radius: 10px;
  box-sizing: border-box;
  &.active {
    background-color: #262830;
    transition: all ease-in 100ms;
  }
}

.input {
  font-size: 36px;
  font-family: 'Inter';
  width: 85%;
  padding: 10px;
  background-color: transparent;
  padding: 0;
  border: none;
  color: #868ca0;

  &::placeholder {
    color: #868ca0;
  }

  &:focus {
    color: #fff;
    outline: none;
    &::placeholder {
      color: transparent;
    }
  }
}

button {
  padding: 0;
  width: 65px;
  height: 65px;
  border: none;
  background-color: transparent;
}

.searchBtn {
  width: 25px;
  height: 25px;
  color: #868ca0;
  transition: all ease-in 100ms;

  &.active {
    color: #fff;
  }
}
.clearBtn {
  width: 30px;
  height: 30px;
  color: #868ca0;
  transition: all ease-in 100ms;

  &.active {
    color: #fff;
  }
}

@media (max-width: 600px) {
  .input {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .input {
    font-size: 16px;
  }

  button {
    padding: 0;
    width: 35px;
    height: 35px;
  }

  .searchBtn {
    width: 20px;
    height: 20px;
  }

  .clearBtn {
    width: 20px;
    height: 20px;
  }
}
