.navigate {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.link {
    color: #868CA0;
    text-decoration-line: none;
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: none;
    background: linear-gradient( to bottom, #6960C5 0%, #6960C5 100% );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 4px;
    transition: all 300ms ease-in-out;
    padding: 0 2px 5px;

    &:hover {
        color: #CBCDD1;
    }
    &.active {
        color: #FFF;
        background-size: 100% 4px;
    }
}